
data.json
.ipynb_checkpoints/TESS_DL-checkpoint.ipynb
emotions_mel_con.png
State_of_art/_1A_Multi-Modal_Emotion_Recognition_System_Based_on_CNN-Transformer_Deep_Learning_Technique.pdf
State_of_art/_2Audio_Emotion_Recognition_by_Deep_Neural_Networks_and_Machine_Learning_Algorithms.pdf
State_of_art/_3Lokesh-Devi2019_Article_SpeechRecognitionSystemUsingEn.pdf
State_of_art/_4jsan-10-00072-v2.pdf
State_of_art/_5IS140441.pdf
State_of_art/_6speaker_recognition_report.pdf
State_of_art/_7speaker_recognition_report.pdf
*.wav
